<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Found | APP</title>
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/404.css')}}">
</head>
<body> 
<main>
    <div id="main">
        <div class="fof">
            <h1>Error 404</h1>
        </div>
</div>

</main>

<footer>
    <div><a style="text-align: center;"href="home"> Regresa al home</a></div>
    <div class="footer-copyright footer_link">© 2020 Copyright:
        <a style="text-align: center;" href="https://github.com/YsabellaCalderon/Algoritmos-y-Estructura-de-Datos"> Algoritmos-y-Estructura-de-Datos.com </a>
    </div>
</footer>
    
</body>
</html>