<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/places.css')}}">
    <title>Characters|APP</title>
</head>
<body>
    <header>
        <div class="bars">
        <ul>
            <li class="cor-1"></li>
            <li class="cor-2"></li>
            <li class="cor-3"></li>
            <li class="cor-4"></li>
            <li class="cor-5"></li>
        </ul>
        </div>
        <div class="header-title">
            My Favorite People
        </div>
    </header>
    <section class="content-block">
        <h1>Mom</h1>
        <h2>Mom's Love</h2>
        <p>Sin duda una de las mejores personas presentes en mi vida</p>
        <div>
            <marquee>
                <img src="mom_1.jpeg" height="300">
                <img src="mom_2.jpeg" height="300">
                <img src="mom_3.jpeg" height="300">
                <img src="mom_4.jpeg" height="300">
            </marquee>
        </div>
    </section>
    
    <section class="content-block">
        <h1>Dad</h1>
        <h2>Dad's Love</h2>
        <p>Sin duda una de las mejores personas presentes en mi vida</p>
        <div>
            <marquee>
                <img src="dad_1.jpeg" height="300">
                <img src="dad_2.heic" height="300">
                <img src="dad_3.jpeg" height="300">
                <img src="dad_4.jpeg" height="300">
            </marquee>
        </div>
    </section>
    
    <section class="content-block">
        <h1>BestFriend</h1>
        <h2>Thank U for been in my Life</h2>
        <p>Sin duda una de las mejores personas presentes en mi vida</p>
        <div>
            <marquee>
                <img src="bff_1.jpeg" height="300">
                <img src="bff_2.heic" height="300">
                <img src="bff_3.jpeg" height="300">
                <img src="bff_4.jpeg" height="300">
            </marquee>
        </div>

    </section>
    
    <section class="content-block">
        <h1>Bradley</h1>
        <h2>My Beautiful Angel</h2>
        <p>Missing you everyday and every minute</p>
        <div>
            <marquee>
                <img src="" height="300">
                <img src="IMG_3815.JPG" height="300">
                <img src="IMG_3816.JPG" height="300">
                <img src="IMG_4396.JPG" height="300">
                <img src="0b7de819-4752-4919-8404-7e4b0502a544.JPG" height="300">
                <img src="0d7d4ff4-87ab-4443-b71d-10eb4a936a49.JPG" height="300">
                <img src="648217cc-2c68-43ab-81ce-20a2330452e9.JPG" height="300">
                <img src="7e5117f6-b7c6-42c1-8c51-6804199b7cf5.JPG" height="300">
            </marquee>
        </div>
    </section>
    
    <section class="content-block">
        <h1>My Siblings</h1>
        <h2>Crazy and Funny</h2>
        <p>Ambos son uno de los mejores regalos en mi vida</p>

    </section>
    
    <footer>
        My Favorite characters in my Life That I'll Love till I can't Breathe Anymore<strong>Love U All</strong>.
    </footer>
</body>
</html>