<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/charactersr.css')}}">
    <title>Characters|APP</title>
</head>
<body>
    <header>
        <div class="bars">
        <ul>
            <li class="cor-1"></li>
            <li class="cor-2"></li>
            <li class="cor-3"></li>
            <li class="cor-4"></li>
            <li class="cor-5"></li>
        </ul>
        </div>
        <div class="header-title">
            My Favorite Characters
        </div>
    </header>
    <section class="content-block">
        <h1>The Marauders</h1>
        <h2>Hogwarts | Firts Battle</h2>
        <img src="https://images.ctfassets.net/usf1vwtuqyxm/6ONkYrFfkAa0MeUGKCyGCe/0a9c79b2a02d58ec3e9b6773a99da663/B3C18M1_animated_14DG.jpg?w=914" height="300px">
        <p>‘You’ll stay with me?’
            ‘Until the very end,’ said James.
            ‘They won’t be able to see you?’ asked Harry.
            ‘We are part of you,’ said Sirius. ‘Invisible to anyone else.’
            Harry Potter and the Deathly Hallows</p>

    </section>
    
    <section class="content-block">
        <h1>Annalise Keating</h1>
        <h2>How to Get Away With Murder</h2>
        <img src="https://cdnb.artstation.com/p/assets/images/images/013/273/201/large/rye-adriano-annalise-keating-digital-painting-lowres.jpg?1538853197" height="300px">
        <p>"Think carefully, everything after this moment will not only determine your career but life. 
            You can spend it in a corporate office drafting contracts and hitting on chubby paralegals before 
            finally putting a gun in your mouth or you can join my firm and become someone you actually like. So decide: do you want the job or not?"</p>
    </section>
    
    <section class="content-block">
        <h1>Cristina Yang</h1>
        <h2>Grey's Anatomy</h2>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/m-winning-cristina-is-nominated-for-a-harper-avery-and-news-photo-480591685-1549482893.jpg?crop=0.66667xw:1xh;center,top&resize=768:*" height="300px">
        <p>"Oh screw beautiful! I’m brilliant! If you want to appease me, compliment my brain."</p>

    </section>
    
    <section class="content-block">
        <h1>Clary Fairchild</h1>
        <h2>Shadowhunters</h2>
        <img src="https://pm1.narvii.com/6392/25e1332513d1d689164ef65c44c09b5aed8b9248_hq.jpg" height="300px">
        <p>“These people have become like family to me, and I protect my family.”</p>

    </section>
    
    <section class="content-block">
        <h1>Spencer Reid</h1>
        <h2>Criminal Minds</h2>
        <img src="https://wwwimage-secure.cbsstatic.com/base/files/95521_tt_0114r_2.jpg" height="300px">
        <p>"I don't believe that intelligence can be accurately quantified, but I do have an IQ of 187, an eidetic memory, and can read 20,000 words per minute. Yes, I'm a genius." </p>

    </section>
    
    <footer>
        <div><a href="home"> ir al Home</a></div>
        
        My Favorite characters of All the Time<strong>Pretty Savage</strong>.
    </footer>
</body>
</html>