<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/home.css')}}">
    <title>Home|APP</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for ('static', filename = 'css/home.css')}}">
        <title>Document</title>
    </head>
    <body>
      <div class="loader">
        <h1> Loading Awesome</h1>
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
      </div> 
    </body>

    <footer>
        <a href="http://localhost:5000/favorites">Vamos a la ruta favorites</a>
    </footer>

    
    
</body>
</html>

