<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/homer.css')}}">
    <title>Home|APP</title>
</head>
<body>
    <main>
    <header>
        <h1 style=" font-family: Dancing Script;text-align: center;" >Welcome to the Website</h1>
        <h2 style=" font-family: Dancing Script;text-align: center;">Enjoy!</h2>

        <ul style="align-content: space-between;">
            <h3 class="blue-text" ></h3>
            <li> <a href="home"> Home</a>  </li>
            <li> <a href="places"> Places</a>  </li>
            <li> <a href="characters">Characters </a>  </li>
            <form style="text-align: right;" action="link"> <input type="text" placeholder="Search" class="search_buttom"><button type = "submit">Go!</button></form>
        </ul>


    </header>    
    <br>
    <main>
        <marquee>
            <img src="https://i.pinimg.com/originals/5e/01/e5/5e01e545ea5294866ac90a73bcd4104a.jpg" height="300">
            <img src="https://www.latercera.com/resizer/EI6fGwmUZKRoBQldyfeSH2o_0DE=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/SEFTKZDGDVBCNCWWBIOBIUOQE4.jpg" height="300">
            <img src="https://cdn.shopify.com/s/files/1/0281/1340/4013/articles/Hogwarts-1200x801_1200x.jpg?v=1597131755" height="300">
            <img src="https://i.pinimg.com/originals/d9/a6/2c/d9a62cff186c645041f703862537c8b3.jpg" height="300">
            <img src="https://data.whicdn.com/images/334882412/original.jpg?t=1567607920" height="300">
        </marquee>
    </main> 
    <footer display: class = "fixed-bottom footer_style">

        <div style="text-align: center;"class="footer-copyright footer_link">© 2020 Copyright:
        <a style="text-align: center;" href="https://github.com/YsabellaCalderon/Algoritmos-y-Estructura-de-Datos"> Algoritmos-y-Estructura-de-Datos.com </a>
        </div>
    </footer>

</main>

    
    
</body>
</html>

