<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename = 'css/places.css')}}">
    <title>Places|APP</title>
</head>
<body>
    <header>
        <div class="bars">
        <ul>
            <li class="cor-1"></li>
            <li class="cor-2"></li>
            <li class="cor-3"></li>
            <li class="cor-4"></li>
            <li class="cor-5"></li>
        </ul>
        </div>
        <div class="header-title">
            My Favorite Places
        </div>
    </header>
    <section class="content-block">
        <h1>Nueva York</h1>
        <h2>La Gran Manzana</h2>
        <p>Nueva York es una de las ciudades mas grandes del mundo, su influencia artistica y cultural es una de las mejores por considerarse la "Ciudad Global"</p>
        <p>La industria musical tambien esta muy relacionada con esta hermosa ciudad, sus barrios, habitantes y su ambiente particular. La cancion mas famosa es "New York, New York" de John Kander</p>
    </section>
    
    <section class="content-block">
        <h1>Costa Rica</h1>
        <h2>Viva la Vida</h2>
        <p>COsta Rica es un pais pequeño, con un alto nivel educativo, gente excepcional y hermosos recursos naturales, su riqueza principal consiste en su fauna y su flora</p>
        <p> En Nicoya, costa occidental de Costa Rica, es  un importante destino de Blue Zone Costa Rica, lo que significa que sus habitantes comúnmente viven vidas activas y tan largas que llegan después de los 100 años. ¡Impresionante! </p>
        <p>Uno de los datos curiosos sobre Costa Rica más importante es que el país genera la mayoría de su energía utilizando cinco fuentes renovables: energía hidroeléctrica, eólica, geotérmica, biomasa y solar</p>
    </section>
    
    <section class="content-block">
        <h1>Paris</h1>
        <h2>La Ciudad del Amor</h2>
        <p>A finales del siglo XVIII, una nueva corriente artística llamada romanticismo se expande por Europa, y tiene una influencia importante en Francia.</p>
        <p>París se convierte entonces en el hogar de muchos escritores y poetas románticos, que dan prioridad en sus obras a los sentimientos, y por supuesto, al amor.</p>
        <p>Esta influencia del amor sobre la creación artística en París ha continuado desde entonces, incluso más allá de la corriente romántica.</p>
    </section>
    
    <section class="content-block">
        <h1>Venecia</h1>
        <h2>La Ciudad Más Romantica del Mundo?</h2>
        <p>Si una encuesta preguntara a la gente cuáles son las ciudades más románticas del mundo muy seguramente saldría Venecia en las primeras posiciones.</p>
        <p>Venecia se ha ganado por derecho propio este título y es que el encanto que destilan sus puentes y canales la han convertido en uno de los destinos más visitados del mundo.</p>
        <p>Un paseo en góndola por sus canales, ya sea solo o en compañía, es una experiencia mágica para descubrir los rincones más bonitos de la capital del Véneto.</p>
    </section>
    
    <section class="content-block">
        <h1>Korea del Sur</h1>
        <h2>Historica y Futurista</h2>
        <p>Seúl es disparatadamente genial. Arquitectura futurista por todas partes, increíbles centros comerciales con las últimas tendencias de moda, bares de karaoke y una asombrosa cultura ancestral.</p>
        <p>Da un paseo por el Bukchon Hanok, admira el palacio de Gyeongbokgung y come kimchi hasta hartarte. Seúl es también una de las principales ciudades inteligentes del mundo, así que es increíblemente innovadora y moderna.</p>
        <p>En los últimos años, la moda y la belleza contemporáneas han despuntado en Corea del Sur. A lo grande. Inspiradas en parte en las tendencias occidentales, la K-Beauty y la K-Fashion se han convertido rápidamente en el sello de la cultura surcoreana.</p>
    </section>
    
    <footer>
        My Favorite Places in the World That I'll Love to Visit<strong>Soon</strong>.
    </footer>
</body>
</html>