header {
    background-color: black;
    color: white;
    height: auto;
    text-align: center;
    padding: 2vh;
    font-size: 8.5vh;
    font-style: normal;
    margin: auto;
}
Body{
    background-color: black;
}

h4{
    font-size: 3vh;
    font-weight: lighter;
}

h3{
    font-size: 4vh;
    margin: 2vh;
    color:white;
    text-align: center;
    font-style: italic;
}
main{
    height: 80vh;
    background-color:black;
}
p{
    font-size: larger;
    color: white;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    text-align: center;  
    line-height: 3.5vh;

}


img{
    border-style: dashed;
    padding: 4.5vh;
    width: 600px; 
    height: auto; 
    display: block;
    margin: auto; 
    color: black;
}