<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename = 'css/contactanosparcial.css')}}">
    <title>Contactanos|APP</title>
</head>
<body>
    <header>
        <div class="bars">
        <ul>
            <li class="cor-1"></li>
            <li class="cor-2"></li>
            <li class="cor-3"></li>
            <li class="cor-4"></li>
            <li class="cor-5"></li>
        </ul>
        </div>
        <div class="header-title">
            Contactanos
        </div>
    </header>
    <section class="content-block">
        <h1>Estamos Felices!! </h1>
        <h2>de que seas parte de nuestro equipo</h2>
        <h6>Email: greysloanmemorial@contact.com</h6>
        <h6>Telefono: (001)7862519688</h6>
        <h6>Celular: (310) 8979024</h6>
        <h6>Dirección: Cl. 12A #36B-35</h6>
    </section>
    
    <footer>
        <div><a href="/"> ir al home</a></div>
        Grey's Sloan Memorial <strong>Website</strong>.
    </footer>
</body>
</html>