<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename = 'css/curiosoparcial.css')}}">
    <title>Curioso|APP</title>
</head>
<body>
    <header>
        <div class="bars">
        <ul>
            <li class="cor-1"></li>
            <li class="cor-2"></li>
            <li class="cor-3"></li>
            <li class="cor-4"></li>
            <li class="cor-5"></li>
        </ul>
        </div>
        <div class="header-title">
            Curioso
        </div>
    </header>
    <section class="content-block">
        <h1>I Love Harry Potter</h1>
        <h2>I'm a Gryffindor</h2>
        <img src="https://data.whicdn.com/images/303154875/original.jpg?t=1513115017" styele="330px"alt="Gryffindor Aesthetic">
        <p>Auque probablemente no se note, adoro leer libros de ficción y fantasia, ultimamente he estado inmersa en los libros de Harry Potter y realmente amo ese mundo</p>
        <p>Es impresionante como un libro te puede llevar mas alla de solo un conjunto de hojas</p>
    </section>
    
    <footer>
        <div><a href="/"> ir al home</a></div>
        Grey's Sloan Memorial <strong>Website</strong>.
    </footer>
</body>
</html>