<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename = 'css/doctoresparcial.css')}}">
    <title>Doctores|APP</title>
</head>
<body>
    <header>
        <div class="bars">
        <ul>
            <li class="cor-1"></li>
            <li class="cor-2"></li>
            <li class="cor-3"></li>
            <li class="cor-4"></li>
            <li class="cor-5"></li>
        </ul>
        </div>
        <div class="header-title">
            Our Doctors
        </div>
    </header>
    <section class="content-block">
        <h1>Listado de Nuestros Especialistas</h1>
        <h2>Medicina con el Corazón</h2>
        <h6>Meredith Grey</h6>
        <h6>Mark Sloan</h6>
        <h6>Cassiopia Torres</h6>
        <h6>Arizona Robbins</h6>
        <h6>Jackson Avery</h6>
        <h6>Dereck Sheperd</h6>
        <h6>Amelia Sheperd</h6>
        <h6>Andrew De'Luca</h6>
        <h6>George O'maley</h6>
        <h6>Cristina Yang</h6>
        <h6>Isobel Stephens</h6>
        <h6>Richard Webber</h6>
        <h6>Maggie Pierce</h6>
        <h6>Atticus Licon</h6>
        <h6>Miranda Baely</h6>
        <h6>Ben Warren</h6>
        <h6>Ethan Hunt</h6>
        <h6>Lexie Grey</h6>

    </section>
    
    <footer>
        <div><a href="/"> ir al Home</a></div>
        Our mission is keeping u<strong>Save</strong>.
    </footer>
</body>
</html>