<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename = 'css/pacientesparcial.css')}}">
    <title>Pacientes|APP</title>
</head>
<body>
    <header>
        <div class="bars">
        <ul>
            <li class="cor-1"></li>
            <li class="cor-2"></li>
            <li class="cor-3"></li>
            <li class="cor-4"></li>
            <li class="cor-5"></li>
        </ul>
        </div>
        <div class="header-title">
            Our Pacients
        </div>
    </header>
    <section class="content-block">
        <h1>Listado de Nuestros Especialistas</h1>
        <h2>Medicina con el Corazón</h2>
        <h6>Annalise Keating</h6>
        <h6>Wes Gibbins</h6>
        <h6>Spencer Reid</h6>
        <h6>Bonnie Lovewood</h6>
        <h6>Nate Lahey</h6>
        <h6>Frank Longbottom</h6>
        <h6>James Potter</h6>
        <h6>Remus Lupin</h6>
        <h6>Marlene Mcmikkon</h6>
        <h6>Peter Pettigrew</h6>
        <h6>Sirius Black</h6>
        <h6>Ronald Wesley</h6>
        <h6>Fred Wesley</h6>
        <h6>George Wesley</h6>
        <h6>Ginny Wesley</h6>
        <h6>Luna Lovegood</h6>
        <h6>Hermione Gangrer</h6>
        <h6>Minerva Mcgonagal</h6>
        <h6>Draco Malfoy</h6>
        <h6>Andromeda Black</h6>
        <h6>Bellatrix Black</h6>
        <h6>Narcissa Black</h6>
        <h6>Walburga Black</h6>
        <h6>Orion Black</h6>
        <h6>Regulus Black</h6>



    </section>
    
    <footer>
        <div><a href="/"> ir al Home</a></div>
        Our mission is keeping u<strong>Save</strong>.
    </footer>
</body>
</html>